/* GENERALITIES */
/* Reset the margin and padding of all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  
  font-family: "neulis-sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-image: url('assets/media/white-background.svg');
}
.title{
  font-family: "bananas-variable", sans-serif;
}


/* LOADER CONTAINER */
.loader-section {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: -100%;
  left: -100%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(100%, 100%);
  transition: transform 0.7s ease-out;

  background-image: url("assets/media/blue-background.svg");
}
.loader-section.hidden {
  transform: translateX(100%);
}
.loader-section_logo {
  width: 100vw;
}



/* MAIN PAGE */
.main-section {
  width: 100%;
  height: auto;

  position: relative;
}

.banner{
  width: 100vw;
  height: 25vh;
  
  position: relative;
  z-index: 0;
}

/* Header style */
.main-section-header {
  width: 100%;
  height: 20vh;

  position: absolute;
  z-index: 10;
  top: 0;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: center;
}
.main-section-header_logo{
  width: 40vw;
}

.slogan-container{
  width: 100%;
  line-height: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4em;
  text-align: center;
  color: #fff;
}
.minify{
  font-size: 0.6em;
}

.home {
  width: 100%;
  height: 75vh;

  display: none;
  flex-direction: column;
}

/* Number container style */
.number-container {
  margin-bottom: 2em;
  padding: 0 1em;

  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number-container__input {
  width: 70%;
  height: 5vh;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;

  font-size: 2em;
  text-align: center;
}
.number-container__input::placeholder{
  font-size: 0.7em;
  text-align: left;
}
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.number-container__button {
  width: 6em;
  height: 6em;

  border: none;
  border-radius: 50px;

  background-color: #e88f2b;
}
.number-container__button img{
  width: 4em;
  height: 4em;

  object-fit: contain;
}

/* Answer container style */
.content-container {
  padding: 0 1em;

  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.content-container_title {
  font-size: 90%;
  font-size: 2.3em;
  color: #2d6566;
  text-transform: uppercase;
}
.content-container_description {
  margin-bottom: 1em;
  width: 90%;

  font-size: 1.2em;
}

.content-container img {
  margin-bottom: 1em;
  width: 10em;
}

.error-container {
  width: 100%;
  height: 80vh;

  display: none;
  align-items: center;
  justify-content: center;
}
.error-container_title {
  font-size: 2.3em;
}